* {
    padding: 0;
    margin: 0;
}

nav, #about, #characters, footer {
    padding-right: 15%;
    padding-left: 15%;
}
@media (max-width: 720px) {
    nav, #about, #characters, footer {
        padding-right: 2%;
        padding-left: 2%;
    }
    
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}
  
nav {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 16px;
}

#top-logo {
    flex: 1;
}




#about {
    padding-top: 150px;
    padding-bottom:  100px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;

    gap: 50px;
}

#about-content {
    flex-grow: 2;
    flex-basis: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    gap: 12px;
}

#about-img {
    flex-grow: 3;
    flex-basis: 450px;

    align-content: center;
}

#about-img img {
    width: 100%;
}




#characters{
    padding-top: 100px;
    padding-bottom:  100px;
    align-self: center;
}

#items {
    margin-top: 40px;
    flex: 1;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

.item {
    max-width: 325px;
    flex: 1;
    flex-basis: 300px;

    padding-bottom: 20px;
    border-bottom: 10px solid grey;
    margin-bottom: 30px;
}

.item img {
    aspect-ratio: 1/1;
    width: 90%;
    object-fit: cover;
    margin-bottom: 15px;
}

.item p{
    padding: 0 5%;
}




#quote {
    padding: 150px 20%;
}
@media (max-width: 720px) {
    #quote {
        padding: 150px 10%;
    }
    
}

h3 {
    margin-top: 40px;
}

#watch {
    border-radius: 10px;
    margin: 5% 15%;
    padding: 2% 10%;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: end;
    justify-content: flex-end;

    gap: 20px;
}

@media (max-width: 720px) {
    #quote {
        margin: 5% 10%;
        padding: 2% 5%;
    }
    
}

#watch-content {
    flex-grow: 1;
    flex-basis: 500px;
}

#watch-button {
    align-content: center;
    justify-content: right;
}




footer {
    padding-top: 1.5rem;
    padding-bottom:  1.5rem;
}