* {
    padding: 0;
    margin: 0;
}

nav, #about, #characters, footer {
    padding-right: 15%;
    padding-left: 15%;
}

@media (max-width: 768px) {
    nav, #about, #characters, footer {
        padding-right: 5%;
        padding-left: 5%;
    }
    
}

.dropdown-content a {
    padding: 8px 8px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}
  
nav {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 16px;
    overflow: hidden;

}

#top-logo h1 {
    font-size: 30px;
}

@media (max-width: 768px) {

    nav {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    
}


#logo {
    flex: 1;
}

#top-logo {
    display: flex;
    align-items: center;
}

#top-logo img{
    width: 2.5rem;
    display: inline;
    padding-right: 2px;
    padding-bottom: 4px;
}

@media (max-width:768px) {
    #top-logo img{
        width: 1.5rem;
    }
}

/* #----------- MOBILE DROPDOWN */
/* #region */

button {
    display: none;
}

@media (max-width: 768px) {    

    button {
        display: block;
    }
    
    nav a {
        float: left;
        text-align: center;
        padding: 8px 16px;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    
    /* nav a:hover, .dropdown:hover .dropbtn {
        background-color: lightgrey ;
        box-shadow: 0 0 10px grey;
    } */
    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        padding: 10px 5%;
        z-index: 1;
    }
    
    .dropdown-content a {
        float: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}
/* #endregion */




#about {
    padding-top: 150px;
    padding-bottom:  100px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;

    gap: 50px;
}

@media (max-width: 768px) {
    #about {
        padding-top: 100px;
        padding-bottom: 80px;
    }    
}

#about-content {
    flex-grow: 2;
    flex-basis: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    gap: 12px;
}

#about-img {
    flex-grow: 3;
    flex-basis: 450px;

    align-content: center;
}

#about-img img {
    width: 100%;
}




#characters{
    padding-top: 80px;
    padding-bottom:  100px;
    align-self: center;
}

@media (max-width: 768px) {
    #characters{
        padding-top: 50px;
        padding-bottom:  50px;
    }    
}

#items {
    margin-top: 20px;
    flex: 1;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

.item {
    max-width: 325px;
    flex: 1;
    flex-basis: 300px;

    padding-bottom: 20px;
    border-bottom: 10px solid grey;
    margin-top: 30px;
}

.item img {
    aspect-ratio: 1/1;
    width: 90%;
    object-fit: cover;
    margin-bottom: 15px;
}

.item p{
    padding: 0 5%;
}




#quote {
    padding: 150px 20%;
}

@media (max-width: 720px) {
    #quote {
        padding: 150px 10%;
    }
    
}

h3 {
    margin-top: 40px;
}

#watch {
    border-radius: 10px;
    margin: 5% 15%;
    padding: 2% 10%;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: end;
    justify-content: flex-end;

    gap: 20px;
}

@media (max-width: 720px) {
    #quote {
        margin: 30px 3% 80px;
        padding: 5% 5%;
    }
    
}

#watch-content {
    flex-grow: 1;
    flex-basis: 500px;
}

#watch-button {
    align-content: center;
    justify-content: right;
}

@media (max-width: 720px) {
    #watch {
        margin: 80px 3%;
        padding: 5% 5%;
    }
}


footer {
    padding-top: 1.5rem;
    padding-bottom:  1.5rem;
}