body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

h1 {
    font-weight: bolder;
}
    
header, footer, #about, #watch {
    background-color: #1F2937;
    color: white;
}

.images {
    border-radius: 20px;
    border: 5px solid white;
}

.images:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px lightgrey;
}


a, button{
    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

a:hover {
    font-size: 1.1rem;
}

#top-logo {
    /* color: #F9FAF8; */
    font-weight: bolder;
    font-size: 32px; 
}

@media (max-width : 768px) {
    h1 {
        font-size: 24px;    
    }
}

.dropdown-content {
    text-align: right;
    background-color: #1F2937;
}


@media (max-width: 768px) {
    .dropdown-content a:hover {
        background-color: #E5E7EB;
        color: black;
    }
}

#about {
    text-align: left;
}

#about-content h1 {
    font-weight: 1000   ;
    font-size: 48px;
    color: #F9FAF8;
}

#about-content p {
    color: #E5E7EB;
    font-size: 18px;
}


.button {
    background-color: rgba(95, 95, 138, 0.075);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
    border: 1px outset white;
    display: block;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px rgb(252, 252, 252);
}

#characters {
    text-align: center;
    color: gray;
}

#characters h1 {
    color: black;
    font-size: 28px;
}

#quote {
    background-color: #E5E7EB;
    color: #454647;
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}


#quote h3 {
    font-weight: bold;
    color: #1f2937;
    text-align: end;
}

footer {
    text-align: center;
}
